{{> header}}
{{> nav}}
    
<!--views/books/index.hbs -->
<h1 class="homepage">Books</h1>


<div class="bookContainer">
{{#each books}}
{{!-- <div class="row"> --}}

  <!--this is the whole book-->
  <div class="book hoveit">

    <!--the top of your book - shows pages-->
    <div class="bookTop"></div>

    <!--this is the side of your book where you'll put a title, author, or anything else-->
    <div class="bookSide">
      <p>{{this.name}}</p>
      <p>{{this.author}}</p>
    </div>

    <!--this is the side of the book that has pages-->
    <div class="bookSide2"></div>

    <!--this is the backside of your book. Put whatever you'd like here.-->
    <div class="page backBook">Back of book</div>

    <!--this is the bottom of your book. It shows pages.-->
    <div class="bookBottom"></div>

    <!--this is the cover of your book. Put your title here along with anything else-->
    <div class="page cover">
      <h1><a href="/books/{{this._id}}">{{this.name}}</a></h1>
      <p>{{this.author}}</p>
      <!-- Place this tag where you want the button to render. -->
    </div>

    <!--display your book pages in descending order. New pages are added to the top here.
        It's important you give each page the page and pagecontent class, along with a pagenumber class-->

    <div class="page pagecontent eleventhPage bookBack">
     {{this.pageEleven}}
    </div>

   <div class="page pagecontent tenthPage">
      {{this.pageTen}}
      <img class="img-page" src="{{this.imageTen}}" alt="&copy; Storytime 2019">
    </div>
  
 <div class="page pagecontent ninthPage">
      {{this.pageNine}}
      <img class="img-page" src="{{this.imageNine}}" alt="&copy; Storytime 2019">
    </div>

   <div class="page pagecontent eigthPage">
      {{this.pageEight}}
      <img class="img-page" src="{{this.imageEight}}" alt="&copy; Storytime 2019">
    </div>


   <div class="page pagecontent seventhPage">
      {{this.pageSeven}}
       <img class="img-page" src="{{this.imageSeven}}" alt="&copy; Storytime 2019">
    </div>

    <div class="page pagecontent sixthPage">
      {{this.pageSix}}
      <img class="img-page" src="{{this.imageSix}}" alt="&copy; Storytime 2019">
    </div>


   <div class="page pagecontent fifthPage">
      {{this.pageFive}}
      <img class="img-page" src="{{this.imageFive}}" alt="&copy; Storytime 2019">
    </div>

    <div class="page pagecontent fourthPage">
      {{this.pageFour}}
        <img class="img-page" src="{{this.imageFour}}" alt="&copy; Storytime 2019">
    </div>


    <div class="page pagecontent thirdPage">
     {{this.pageThree}}
        <img class="img-page" src="{{this.imageThree}}" alt="&copy; Storytime 2019">
    </div>

    <div class="page pagecontent secondPage">
     {{this.pageTwo}}
     <img class="img-page" src="{{this.imageTwo}}" alt="&copy; Storytime 2019">
    </div>

    <div class="page pagecontent firstPage">
     {{this.pageOne}}
     <img class="img-page" src="{{this.imageOne}}" alt="{{this.imageMoon}}">
    </div>

  </div><!--book-->

  <style>
    .belowbox {
      position: absolute;
      left: 0; right: 0; bottom: 2rem;
      margin-left: auto; margin-right: auto;
      width: 20rem;
    }
  </style>
  {{/each}}
</div>
</div>
</div>


