{{> header}}
{{> nav}}
    
<!--views/books/index.hbs -->
<h1>Books</h1>

<a href="/books/new">New Book</a>


{{#each books}}
 <div class="row">

<div class="bookContainer">


  <!--this is the whole book-->
  <div class="book hoveit">

    <!--the top of your book - shows pages-->
    <div class="bookTop"></div>

    <!--this is the side of your book where you'll put a title, author, or anything else-->
    <div class="bookSide">
      <p>{{this.name}}</p>
      <p>{{this.author}}</p>
    </div>

    <!--this is the side of the book that has pages-->
    <div class="bookSide2"></div>

    <!--this is the backside of your book. Put whatever you'd like here.-->
    <div class="page backBook">Back of book</div>

    <!--this is the bottom of your book. It shows pages.-->
    <div class="bookBottom"></div>

    <!--this is the cover of your book. Put your title here along with anything else-->
    <div class="page cover">
      <h1>{{this.name}}</h1>
      <p>{{this.author}}</p>
      <!-- Place this tag where you want the button to render. -->
    </div>

    <!--display your book pages in descending order. New pages are added to the top here.
        It's important you give each page the page and pagecontent class, along with a pagenumber class-->

    <div class="page pagecontent fifthPage bookBack">
      <a style="color: white;" href="https://github.com/joerez/flipbook-library">Or check out
      <br>
      the documentation
      <br>
      on GitHub!</a>
    </div>

   <div class="page pagecontent tenthPage">
      {{this.pageTen}}
    </div>
  
 <div class="page pagecontent ninthPage">
      {{this.pageNine}}
    </div>

   <div class="page pagecontent eigthPage">
      {{this.pageEight}}
    </div>


   <div class="page pagecontent seventhPage">
      {{this.pageSeven}}
    </div>

    <div class="page pagecontent sixthPage">
      {{this.pageSix}}
    </div>


   <div class="page pagecontent fifthPage">
      {{this.pageFive}}
    </div>

    <div class="page pagecontent fourthPage">
      {{this.pageFour}}
    </div>


    <div class="page pagecontent thirdPage">
     {{this.pageThree}}
    </div>

    <div class="page pagecontent secondPage">
     {{this.pageTwo}}
    </div>

    <div class="page pagecontent firstPage">
     {{this.pageOne}}
    </div>

  </div><!--book-->

  <style>
    .belowbox {
      position: absolute;
      left: 0; right: 0; bottom: 2rem;
      margin-left: auto; margin-right: auto;
      width: 20rem;
    }
  </style>
 
</div>
</div>
{{/each}}
<!--bookContainer-->

 {{!-- <div class="row">
{{#each books}}
<div class="col-sm-4">
    <div class="card" style="margin:5px;">
         <div class="card-body">
    <h2><a href="/books/{{this._id}}">{{this.name}}</a></h2>
    <small>{{this.category}}</small>
    </div>
    </div>
     </div>
    </div>
{{/each}} --}}
